@tailwind base;
@tailwind components;
@tailwind utilities;

.plant-info {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}
